        <script src="/jquery/dist/jquery.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <%# <script sec="/node_modules/axios/dist/axios.min.js"></script> %>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script src="/js/main.js"></script>
    </body>
</html>